@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  font-size: 62.5%;
  background-color: #B7D4D9;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 7rem;
  letter-spacing: 0.3rem;
  font-family: 'Rochester', cursive;
  color: #825635;
  text-shadow: 0 0.5rem 1.5rem rgb(53, 52, 52);
  margin: 2rem  0;
}


h2{
  font-size: 4rem;
  letter-spacing: 0.1rem;
  font-family: 'Rochester', cursive;
  color: #825635;
  text-shadow: 0 0.5rem 1.5rem rgb(53, 52, 52);
 
  margin: 4rem 0;
}
.search-form {
  width: 60rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dadada;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  box-shadow: 1rem 2rem 2rem #aaa;
  position: relative;
}

.alert {
  position: absolute;
  top: -3rem;
  left: 0;
  background-color: rgb(233, 171, 72);
  width: calc(100% - 0.4rem);
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.alert h3 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-form input {
  font-size: 1.6rem;
  border: none;
  border-bottom: 0.1rem solid #ccc;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  height: 3rem;
  box-shadow: 2rem 3rem 2rem #aaa;
}

.search-form input[type="text"] {
  padding: 0 0.5rem;
  width: 60%;
  color: #555;
}

.search-form input[type="submit"] {
  width: 25%;
  text-transform: uppercase;
  background-color: #3FBACD;
  color: #fff;
  box-shadow: 2rem 3rem 2rem #aaa;
}

.recipes {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.recipe {
  width: 30rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 2rem 3rem 2rem #aaa;
}

.recipe h2 {
  background-color: rgba(161, 161, 161, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 0 0.5rem 0.5rem #555;
  color: #fff;
}

.recipe img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.recipe a {
  font-size: 1.8rem;
  color:#825635b6;
}

.recipe button {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #3FBACD;
  border: none;
  border-radius: 0.5rem;
  height: 4rem;
}

.ingredient-list {
  margin-top: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}

.ingredient-text {
  font-size: 1.5rem;
  color: #888;
}

.ingredient-weight {
  color: #645f19;
  font-size: 1.3rem;
}



ul.food-list{
  color: #645f19;
  font-size: 2rem;
 
 
}

.container-cover {
  width: 100%;
  height: -100px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

img{
  width: 100%;
 
}

/* .video{
  width: 550px;
  height: 450px;
  background-color: rebeccapurple;
 text-shadow: 0 0.5rem 0.5rem #555;
  display: flex;
} */

.youtube{
  border : 3px rgb(206, 160, 35) solid;
  text-shadow: 0 0.5rem 0.5rem #555;

}

button{
  margin: 10px;
<<<<<<< HEAD
  padding: px 20px;
}


@media screen and (max-width: 500px) {
  h1 {
    font-size: 4rem;
  }
  .search-form {
    width: 30rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dadada;
    border-radius: 0.5rem;
    margin-bottom: 5rem;
    box-shadow: 1rem 2rem 2rem #aaa;
    position: relative;
  }
}
=======
  

  background-color: #b48b40;
}


div.App{
  margin-bottom: 30px;
}

>>>>>>> e66f94ec05f75b44ec865505c3b980022cfe8cb3
